# Sublime

AircraftDB.sublime-workspace
AircraftDB.sublime-project

# IDE

*.iml
.idea/*

.DS_Store
*.pyc

internal.md
/virt

# logs
*.log

# Xcode
*.xcworkspacedata
*.xcuserstate
*.xcworkspacedata
frontend/FlightView/FlightView.xcodeproj/xcuserdata/nehal.xcuserdatad/xcschemes/xcschememanagement.plist
frontend/FlightView/FlightView.xcodeproj/xcuserdata/nehal.xcuserdatad/xcschemes/FlightView.xcscheme